<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="TodoApp">
<div class="container" ng-controller="TodoController as todo">
    <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-5 col-lg-offset-3 col-lg-5">
        <h2>ToDo App</h2>

        <!-- Formulario -->
        <form class="form" ng-submit="todo.agregarTarea()">
            <div class="input-group">
                <input ng-model="todo.nuevaTarea" type="text" class="form-control">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit"><span
                                class="glyphicon glyphicon-plus"></span> Añadir tarea</button>
					</span>
            </div>
        </form>
        <hr>
        <blockquote>
            <p>{{ todo.tareas.length - todo.tareasCompletadas.length }} tareas restantes de {{ todo.tareas.length }} disponibles</p>
            <footer>{{ todo.tareasCompletadas.length }} tareas completadas.</footer>
        </blockquote>
        <hr/>
        <!-- Listado de tareas -->
        <ul class="list-group">
            <li ng-repeat="tarea in todo.tareas"
                class="list-group-item clearfix">
                <p ng-hide="mostrarEdit === true"
                   ng-class="{completado: tarea.completed}"
                   class="lead">
                    {{ tarea.title }}
                </p>
                <input ng-blur="todo.editarTarea(tarea, $index); mostrarEdit = false" type="text"
                       ng-show="mostrarEdit === true" ng-model="tarea.title">
                <div>
                    <span class="pull-right">
                        <button ng-click="mostrarEdit = !mostrarEdit" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button ng-click="tarea.completado = true" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-ok"></span></button>
                        <button ng-click="tarea.completado = false" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-repeat"></span>
                        </button>
                        <button ng-click="todo.eliminarTarea(tarea, $index)" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </span>
                </div>
            </li>
        </ul>
        <pre>{{ todo | json }}</pre>
    </div>


</div>
<script src="js/angular.js"></script>
<script src="js/main.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
</body>
</html>